<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>share</key>
	<string>https://itunes.apple.com/gb/app/the-grid-augmented-reality-cyberspace/id1230191564</string>
	<key>review</key>
	<string>https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewContentsUserReviews?id=1230191564&amp;type=Purple+Software&amp;mt=8</string>
	<key>email</key>
	<string>mailto:grid@nubecero.com</string>
</dict>
</plist>
